/* Regla CSS conta de 2 partes */
/* 1) El selector 2) Bloque de declaraciones atributo: valor;
 */

/* forma para llamar otra hoja css dentro de otra (Mala practica)
porque son bloqueantes a la hora de que el navegador lee la instrucci贸n*/
@import url(otra-hoja.css);

h1 {
  color: blueviolet;
  background-color: black;
}

/* tenemos que evitar en la medida de lo posible de utilizar ID's para
hacer dise帽os */
#p1 {
  color: brown;
}

/* MEJOR UTILICEMOS CLASES ! (Nos permite reutilizar nuestro c贸digo */
/* ademas nos ayudara a adaptarnos mejor cuando pasemos a un framework como Bootstrap o Tailwind */

/* ******* TEXT - TEXT(COLOR)****** */
.text-20 {
  font-size: 20px;
}

.text-30 {
  font-size: 30px;
}

.text-white {
  color: white;
}

/* ****** BG ****** */
.bg-skyblue {
  background-color: skyblue;
}

.bg-black {
  background-color: black;
}

/*Selectores de hijos*/

.h-directos>li {
  background-color: thistle;
}

.h-descendientes b {
  background-color: thistle;
}

/*Selector de hermanos general*/
/* estos selectores van a aplicar a los elementos que son hermanos (osea que estan en el mismo nivel) y que
esten por debajo del elemento de referencia */

.hermanos-general~li {
  background-color: thistle;
}

/* Selector de hermanos adyacentes */
/* le aplica el dise帽o al siguiente elemento del elemento de referencia*/
.hermanos-adyacentes+li {
  background-color: thistle;
}

/*********************************/

/* Selectores de atributos */
.s-atributo a[href] {
  color: chocolate;
}

/* tambien podemos ser m谩s especificos*/
.s-atributo a[target="_blank"] {
  font-weight: bold;
}

/* el comodin del " * " aplica el estilo si el elemento tiene la palabra en cuesti贸n */
.s-atributo a[href*="Samu43lz"] {
  font-size: 20px;
}

/* el comodin " ^ " le va aplicar los estilos a los elementos que comienzen con el texto que pongamos */
.s-atributo a[href^="http:"] {
  text-decoration: none;
  /* le quitara la decoraci贸n, como el subrayado */
}

/* el comodin " $ " le va aplicar los estilos a los elementos que terminen con el texto indicado */
.s-atributo a[href$=".com"] {
  background-color: black;
}

/* el comodin " ~ " aplica el estilo si contiene el texto en cuesti贸n en una lista separada por espacios 
  como en un conjunto de clases*/
.s-atributo a[class~="cv"] {
  background-color: midnightblue;
}

/* el comodin " | " aplica el estilo si contiene el texto en cuesti贸n en una lista separada por espacios y que despues del texto en cuesti贸n venga un gui贸n medio " - " (Ejemplo : 
  atributo-ejemplo) */
.s-atributo a[class|="menu"] {
  font-style: italic;
}

/* Selector Universal */
* {
  font-family: sans-serif;
}

/* tambien podemos usarlo de esta manera (a todos los elementos de cierta clase por ejemplo) */
.s-universal * {
  font-size: 24px;
}



/*
 Enlaces de la documentaci贸n de CSS: 
- https: //es.wikipedia.org/wiki/Hoja_de...
- https: //www.w3.org/html/logo/
- https: //www.w3.org/standards/webdesig...
- https: //www.w3.org/TR/css-2020/
- https: //developer.mozilla.org/es/docs...
 CSS Reference - https: //cssreference.io/
 Can I Use - https: //caniuse.com/
 Code Guide - https: //codeguide.co/ 
*/