/* Regla CSS conta de 2 partes */
/* 1) El selector 2) Bloque de declaraciones atributo: valor;
 */

/* forma para llamar otra hoja css dentro de otra (Mala practica)
porque son bloqueantes a la hora de que el navegador lee la instrucción*/
@import url(otra-hoja.css);

h1 {
  color: blueviolet;
  background-color: black;
}

/* tenemos que evitar en la medida de lo posible de utilizar ID's para
hacer diseños */
#p1 {
  color: brown;
}

/* MEJOR UTILICEMOS CLASES ! (Nos permite reutilizar nuestro código */
/* ademas nos ayudara a adaptarnos mejor cuando pasemos a un framework como Bootstrap o Tailwind */

/* ******* TEXT - TEXT(COLOR)****** */
.text-20 {
  font-size: 20px;
}

.text-30 {
  font-size: 30px;
}

.text-white {
  color: white;
}

/* ****** BG ****** */
.bg-skyblue {
  background-color: skyblue;
}

.bg-black {
  background-color: black;
}

/*Selectores de hijos*/

.h-directos>li {
  background-color: thistle;
}

.h-descendientes b {
  background-color: thistle;
}

/*Selector de hermanos general*/
/* estos selectores van a aplicar a los elementos que son hermanos (osea que estan en el mismo nivel) y que
esten por debajo del elemento de referencia */

.hermanos-general~li {
  background-color: thistle;
}

/* Selector de hermanos adyacentes */
/* le aplica el diseño al siguiente elemento del elemento de referencia*/
.hermanos-adyacentes+li {
  background-color: thistle;
}

/*********************************/

/* Selectores de atributos */
.s-atributo a[href] {
  color: chocolate;
}

/* tambien podemos ser más especificos*/
.s-atributo a[target="_blank"] {
  font-weight: bold;
}

/* el comodin del " * " aplica el estilo si el elemento tiene la palabra en cuestión */
.s-atributo a[href*="Samu43lz"] {
  font-size: 20px;
}

/* el comodin " ^ " le va aplicar los estilos a los elementos que comienzen con el texto que pongamos */
.s-atributo a[href^="http:"] {
  text-decoration: none;
  /* le quitara la decoración, como el subrayado */
}

/* el comodin " $ " le va aplicar los estilos a los elementos que terminen con el texto indicado */
.s-atributo a[href$=".com"] {
  background-color: black;
}

/* el comodin " ~ " aplica el estilo si contiene el texto en cuestión en una lista separada por espacios 
  como en un conjunto de clases*/
.s-atributo a[class~="cv"] {
  background-color: midnightblue;
}

/* el comodin " | " aplica el estilo si contiene el texto en cuestión en una lista separada por espacios y que despues del texto en cuestión venga un guión medio " - " (Ejemplo : 
  atributo-ejemplo) */
.s-atributo a[class|="menu"] {
  font-style: italic;
}

/* Selector Universal */
* {
  font-family: sans-serif;
}

/* tambien podemos usarlo de esta manera (a todos los elementos de cierta clase por ejemplo) */
.s-universal * {
  font-size: 24px;
}

/*********** Pseudoclases *********/
/*
Las pseudoclases dan estilos dependiendo del contexto, posición o estado del documento 
https: //developer.mozilla.org/es/docs/Web/CSS/Pseudo-classes
*/

.form-pseudoclases :required {
  border-color: yellow;
}

.form-pseudoclases :valid {
  border-color: green
}

.form-pseudoclases :invalid {
  border-color: red
}

.form-pseudoclases *:focus {
  background-color: skyblue;
}

.form-pseudoclases :disabled {
  background-color: pink;
}

/* OJO: la pseudoclase "hover" aplica para cualquier elemento, no solo a enlaces. Ademas este debe ir siempre al final de otros pseudoclases ya que podrian anular su interactividad por el efecto cascada de CSS*/
/* hover da un efecto al colocar el cursor sobre el elemento indicado*/
/* el orden de las pseudoclases para enlaces es : link, active, visited y luego hover */

.menu-pseudoclases a:visited {
  color: brown;
}

.menu-pseudoclases a:hover {
  color: orange;
}

.p-pseudoclases:hover {
  font-size: 20px;
}

#temario:target {
  /* se activa si le da click (se targetea en el link de navegación) */
  background-color: lightseagreen;
}

/*** Por posición y tipo ***/

.lista-pseudoclases li:first-child {
  /* afecta al primer elemento */
  color: crimson;
  font-weight: bold;
}

.lista-pseudoclases :last-child {
  /* afecta al ultimo elemento */
  color: blueviolet;
}

.lista-pseudoclases li:nth-child(2) {
  /* con nth-child podemos escoger cualquiera mediante el selector*/
  color: navy;
}

.lista-pseudoclases li:nth-child(5n) {
  /* podemos hacer un intercalado de colores donde "n" es cada cuantos elementos se aplicara el diseño*/
  color: darkgreen;
  font-size: 20px;
}

.lista-pseudoclases li:nth-child(even) {
  /* podemos colocar el disño para elementos pares osea cada 2  lo mismo que decir (2n)*/
  background-color: rgba(0, 0, 0, 0.548);
}

.lista-pseudoclases li:nth-child(odd) {
  /* podemos colocar el disño para elementos impares*/
  background-color: rgba(128, 128, 128, 0.562)
}

/**** por etiquetas ****/
/* aplica a todas las etiquetas */
/* se pueden aplicar todas las expresiones anteriores */
.articulo-pseudoclases p:first-of-type {
  background-color: pink;
}

.articulo-pseudoclases p:last-of-type {
  background-color: purple;
}

.articulo-pseudoclases p:nth-of-type(2) {
  background-color: violet;
}

/* tambien podemos colocar diseño a todos los elementos pero exceptuando elementos con
cierta etiqueta*/
.articulo-pseudoclases *:not(p) {
  background-color: beige;
}

/*** Pseudoelementos ***/
/* Dan estilos a partes especificas de un elemento, se usa el :: para diferenciarlos
de las pseudoclases */

/* los pseudoelementos before y after nos van a permitir agregar contenido antes o despues.
Es necesario tener siempre el atributo "content"*/
.mu-aries::before {
  content: "🐏";
}

.mu-aries::after {
  content: "♈";
}

.mu-precio::before {
  content: "💸$";
  font-weight: bold;
}

.mu-precio::after {
  content: "USD";
  font-weight: bold;
}

/*** todas sirven para etiquetas semanticas, article, section, footer , etc. ***/
/* para la primera letra del parrafo */
.p-pseudoelementos::first-letter {
  font-size: 32px;
  font-weight: bold
}

/* para la primera linea del parrafo */
.p-pseudoelementos::first-line {
  color: coral;
}

/* para cambiar el efecto de selección de un texto ej:(cuando quieres copiar un nombre y tienes que seleccionarlo) */
.p-pseudoelementos::selection {
  color: greenyellow;
  background-color: black;
}

/*** tambien podemos utilizar todos estos pseudoelementos de manera universal ***/

*::selection {
  color: red;
  background-color: black;
}

/*********** Agrupar Selectores *************/

/* para cuando querramos aplicar cierta regla a un grupo de elementos, con el uso de la "," */
.form-agrupar-selectores input[name=nombre],
input[name=correo],
textarea {
  border-color: blue;
  background-color: black;
  font-size: 20px;
  color: wheat;
  display: block;
  width: 300px;
  border-width: 2px;
  padding: 7px;
}

/*** El Algoritmo de CSS ***/
/* El algoritmo de CSS: Es la forma en el que el navegador aplica los estilos al documento HTML. Es vital entender este concepto para que entiendas como se aplican y en algunas ocaciones se sobreescriben las reglas CSS.
1.) La Cáscada
2.) La Especificidad
3.) La Herencia
*/

/** La Cáscada es el mecanismo en el que el navegador aplica los estilos. Y toma en cuenta lo siguiente en este orden :

1.) El Origen del Código
      - El User Agent (Los estilos por defecto del navegador)
      - Personalizaciones del usuario. (Aumentar el zoom, cambiar de un tema claro a obscuro, etc)
      - Los estilos del autor. (Los diseños del escritor del código(Tú))
2.) La Especificidad del Selector //** Aqui ya no importa la cascada, si un selector tiene mayor peso que otro, este sera el que aplique el estilo.
3.) Orden de Aparición

/** Cada vez que tengas algun problema con que no se te cargue algun diseño revisa en las opciones de desarrollador (inspeccionar elemento y luego seleccionando el elemento que quieres) para ver como es que los estilos se han ido aplicando para ese elemento que quieres y modificarlo. 

**Ademas en la zona de "Calculado" en Microsoft Edge podemos ver que diseño tiene mayor peso y por lo tanto es el que estara siendo aplicado para el elemento en cuestión
*/

/** La Especificidad es el peso que tiene un selector cuando hay un conflicto de estilos. Se calcula de la siguiente forma: 

/// cuando hablamos de "Por cada" no me refiero al valor , si no, a la agrupación ej : h1,h2,3 {
                                                                                                color: black 
                                                                                                }
**Etiquetas y Pseudoelementos ------------ 0,0,0,1 por cada pseudoelemento que tenga tu selector se aumenta en 1 la unidad
**Clases, Atributos y Pseudoclases ------- 0,0,1,0 por cada C,A, ó Pseudoclase que tenga tu selector se aumenta en 1 el 2 digito de derecha a izquierda
**Identificadores ------------------------ 0,1,0,0 Por cada identificador se aumenta en 1 en el tercer digito
**Estilos en linea ----------------------- 1,0,0,0 Por cada Estilo en Linea se aumenta en 1 en el cuarto digito
**Important ------------------------------ Rompe la Especificidad

**Por eso lo más importante es utilizar Clases, Dandole un nombre de clase al elemento padre y tomando refenrencia e ir a aplicando a las etiquetas o a los elemento internos que quieras tratando de que el nivel de selectores descendientes no sobrepasen de los 2
/*
🔵 Enlaces de la documentación de CSS: 
- https: //es.wikipedia.org/wiki/Hoja_de...
- https: //www.w3.org/html/logo/
- https: //www.w3.org/standards/webdesig...
- https: //www.w3.org/TR/css-2020/
- https: //developer.mozilla.org/es/docs...
🔵 CSS Reference - https: //cssreference.io/
🔵 Can I Use - https: //caniuse.com/
🔵 Code Guide - https: //codeguide.co/ 
*/